*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Nunito', sans-serif;
}

nav{
    background-color: rgba(0,162,255,0.6);
    padding: 32px 0;
}

nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    text-transform: uppercase;
}

nav ul li a{
    color: white;
    margin: 0 20px;
    font-weight: 500; 
}

div.section-1{
    height: 100vh;
    background: url(../images/cart.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

div.container-1{
    width: 70vw;
    height: 100%;
    margin: 0 auto;
}

img.section_1-logo{
    max-width: 27%;
    height: auto;
    margin-top: 50px; 
}

h1.heading-1{
    font-size: 9vh;
    color: #00a2ff;
    text-shadow: 0 1px black;
    margin: 50px 0 150px 0;
}

p.caption-1{
    font-size: 3vh;
    color: #00a2ff;
    text-shadow: 0 1px black;
}
/* End of 1st section */

div.section-2{
    height: 100vh;
    background-image: url(../images/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

div.container-2{
    position: relative;
    top: 20%;
    width: 60vw;
    margin: 0 auto;
}

h1.heading-2{
    color: #00a2ff;
    font-size: 9vh;
    text-shadow: 1px 1px 1px #00a2ff;
}

p.about{
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
}

p.paragraph-2{
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 25px;
}

button.btn-2{
    font-family: 'Nunito', sans-serif;
    font-size: small;
    color: white;
    background-color: #00a2ff; 
    text-transform: uppercase;
    padding: 10px 40px;
    border-style: none;
    border-radius: 20px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
}
/* End of 2nd section */

div.section-3{
    height: 100vh;
    background-color: #00a2ff;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

div.container-3{
    position: relative;
    top: 7%;
}

p.promos{
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
}

h1.heading-3{
    font-size: 3rem;
    text-shadow: 1px 1px 1px #00a2ff;
    margin: 10px 0 5px 0;
}

/* Slider */
.hi-slide{
    position: relative;
    top: 10%;
    width: 754px;
    height: 292px;
    margin: 0 auto;
}

.hi-slide .hi-next,
.hi-slide .hi-prev{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
    opacity: 0.5;
}

.hi-slide .hi-prev{
    left: -70px;
}

.hi-slide .hi-prev::before{
    content: '<';
}

.hi-slide .hi-next{
    right: -70px;
}

.hi-slide .hi-next::before{
    content: '>'
}

.hi-slide > ul {
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
}

.hi-slide > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid white;
    background-color: #333;
    cursor: pointer;
}

.hi-slide > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
}
/* End of slider */

div.button-container{
    position: relative;
    top: 15%;
}

button.btn-3{
    font-family: 'Nunito', sans-serif;
    font-size: small;
    font-weight: bolder;
    color: #00a2ff;
    background-color: white; 
    text-transform: uppercase;
    padding: 10px 40px;
    border-style: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
/* End of 3rd section */

div.section-4{
    height: 100vh;
    background: url(../images/bg-4.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

p.contact{
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
}

h1.heading-4{
    color: #00a2ff;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #00a2ff;
}

div.container-4{
    width: 40vw;
    position: relative;
    top: 5%; 
    left: 7%;
}

form{
    margin-top: 30px;
}

input, textarea{
    width: 60%;
    display: block;
    padding: 15px 0 15px 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    background-color: rgba(73,73,76,0.2)/* rgba(255,127,80,0.4) */;
    border-style: none;
    box-sizing: border-box;
    border-radius: 3px;
    resize: none;
    outline: none;
    margin-bottom: 17px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{ 
    -webkit-appearance: none; 
    margin: 0; 
}

button.btn-4{
    position: relative;
    left: 35%;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: white;
    background-color: #00a2ff; 
    text-transform: uppercase;
    padding: 9px 45px;
    border-style: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
/* End of 4th section */

div.section-5{
    height: 100vh;
    background: url(../images/bg-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.container-5{
    width: 40vw;
    position: relative;
    top: 20%;
    left: 10%;
    text-align: center;
}

p.careers{
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
}

h1.heading-5{
    color: #00a2ff;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #00a2ff;
}

p.caption-5{
    margin-top: 5px;
}

button.btn-5{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    color: white;
    background-color: #00a2ff; 
    text-transform: uppercase;
    padding: 9px 45px;
    margin-top: 20px;
    border-style: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
/* End of 5th section */

div.footer-1{
    height: 40vh;
    background-color: whitesmoke;
}

div.footer_logo-container{
    height: 75%;
    width: 30%;
    float: left;
    position: relative;
    top: 18%;
    left: 5%;
}

img.footer-logo{
    max-width: 60%;
    height: auto;    
}

div.footer_logo-container p{
    font-size: 1rem;
}

p.footer-caption{
    position: relative;
    top: 10%;
}

div.footer_link-container{
    width: 27vw;
    float: left;
    position: relative;
    left: 5%;
    top: 35%;
}

div.footer_link-container ul li{
    width: 50%;
    float: left;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    
}

div.footer_icon-container{
    float: right;
    position: relative;
    top: 35%;
    right: 5%;
}

div.footer_icon-container div.icon:first-child{
    margin-right: 50px;
}

i{
    color: #00a2ff;
    margin-bottom: 20px;
}

div.icon{
    display: inline-block;
    text-align: center;
}
/* End of 6th section, footer-1 */

div.footer-2{
    height: 7vh;
    color: white;
    background-color: #00a2ff;
    text-align: center;    
}

div.footer-2 p{
    position: relative;
    top: 25%;
}